/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 1.3
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.LandingPageSellStrategyAddRequest;
import com.tencent.ads.model.LandingPageSellStrategyAddResponse;
import com.tencent.ads.model.LandingPageSellStrategyGetResponse;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LandingPageSellStrategyApi {
  private ApiClient apiClient;

  public LandingPageSellStrategyApi() {
    this(Configuration.getDefaultApiClient());
  }

  public LandingPageSellStrategyApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for landingPageSellStrategyAdd
   *
   * @param data (required)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call landingPageSellStrategyAddCall(
      LandingPageSellStrategyAddRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = data;

    // create path and map variables
    String localVarPath = "/landing_page_sell_strategy/add";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"application/json", "application/xml"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call landingPageSellStrategyAddValidateBeforeCall(
      LandingPageSellStrategyAddRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(
          "Missing the required parameter 'data' when calling landingPageSellStrategyAdd(Async)");
    }

    com.squareup.okhttp.Call call =
        landingPageSellStrategyAddCall(data, progressListener, progressRequestListener, headerPair);
    return call;
  }

  /**
   * 短剧售卖策略-创建售卖策略
   *
   * @param data (required)
   * @return LandingPageSellStrategyAddResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public LandingPageSellStrategyAddResponse landingPageSellStrategyAdd(
      LandingPageSellStrategyAddRequest data, Pair... headerPair) throws ApiException {
    ApiResponse<LandingPageSellStrategyAddResponse> resp =
        landingPageSellStrategyAddWithHttpInfo(data, headerPair);
    return resp.getData();
  }

  /**
   * 短剧售卖策略-创建售卖策略
   *
   * @param data (required)
   * @return ApiResponse&lt;LandingPageSellStrategyAddResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<LandingPageSellStrategyAddResponse> landingPageSellStrategyAddWithHttpInfo(
      LandingPageSellStrategyAddRequest data, Pair... headerPair) throws ApiException {
    com.squareup.okhttp.Call call =
        landingPageSellStrategyAddValidateBeforeCall(data, null, null, headerPair);
    Type localVarReturnType = new TypeToken<LandingPageSellStrategyAddResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 短剧售卖策略-创建售卖策略 (asynchronously)
   *
   * @param data (required)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call landingPageSellStrategyAddAsync(
      LandingPageSellStrategyAddRequest data,
      final ApiCallback<LandingPageSellStrategyAddResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        landingPageSellStrategyAddValidateBeforeCall(
            data, progressListener, progressRequestListener, headerPair);
    Type localVarReturnType = new TypeToken<LandingPageSellStrategyAddResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for landingPageSellStrategyGet
   *
   * @param accountId (required)
   * @param strategyId (optional)
   * @param strategyStatus (optional)
   * @param strategyName (optional)
   * @param fullStrategyName (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call landingPageSellStrategyGetCall(
      Long accountId,
      Long strategyId,
      Long strategyStatus,
      String strategyName,
      String fullStrategyName,
      Long page,
      Long pageSize,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/landing_page_sell_strategy/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (strategyId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("strategy_id", strategyId));
    if (strategyStatus != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("strategy_status", strategyStatus));
    if (strategyName != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("strategy_name", strategyName));
    if (fullStrategyName != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("full_strategy_name", fullStrategyName));
    if (page != null) localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    if (pageSize != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call landingPageSellStrategyGetValidateBeforeCall(
      Long accountId,
      Long strategyId,
      Long strategyStatus,
      String strategyName,
      String fullStrategyName,
      Long page,
      Long pageSize,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling landingPageSellStrategyGet(Async)");
    }

    com.squareup.okhttp.Call call =
        landingPageSellStrategyGetCall(
            accountId,
            strategyId,
            strategyStatus,
            strategyName,
            fullStrategyName,
            page,
            pageSize,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 短剧售卖策略-获取售卖策略列表
   *
   * @param accountId (required)
   * @param strategyId (optional)
   * @param strategyStatus (optional)
   * @param strategyName (optional)
   * @param fullStrategyName (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return LandingPageSellStrategyGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public LandingPageSellStrategyGetResponse landingPageSellStrategyGet(
      Long accountId,
      Long strategyId,
      Long strategyStatus,
      String strategyName,
      String fullStrategyName,
      Long page,
      Long pageSize,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    ApiResponse<LandingPageSellStrategyGetResponse> resp =
        landingPageSellStrategyGetWithHttpInfo(
            accountId,
            strategyId,
            strategyStatus,
            strategyName,
            fullStrategyName,
            page,
            pageSize,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 短剧售卖策略-获取售卖策略列表
   *
   * @param accountId (required)
   * @param strategyId (optional)
   * @param strategyStatus (optional)
   * @param strategyName (optional)
   * @param fullStrategyName (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;LandingPageSellStrategyGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<LandingPageSellStrategyGetResponse> landingPageSellStrategyGetWithHttpInfo(
      Long accountId,
      Long strategyId,
      Long strategyStatus,
      String strategyName,
      String fullStrategyName,
      Long page,
      Long pageSize,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        landingPageSellStrategyGetValidateBeforeCall(
            accountId,
            strategyId,
            strategyStatus,
            strategyName,
            fullStrategyName,
            page,
            pageSize,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<LandingPageSellStrategyGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 短剧售卖策略-获取售卖策略列表 (asynchronously)
   *
   * @param accountId (required)
   * @param strategyId (optional)
   * @param strategyStatus (optional)
   * @param strategyName (optional)
   * @param fullStrategyName (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call landingPageSellStrategyGetAsync(
      Long accountId,
      Long strategyId,
      Long strategyStatus,
      String strategyName,
      String fullStrategyName,
      Long page,
      Long pageSize,
      List<String> fields,
      final ApiCallback<LandingPageSellStrategyGetResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        landingPageSellStrategyGetValidateBeforeCall(
            accountId,
            strategyId,
            strategyStatus,
            strategyName,
            fullStrategyName,
            page,
            pageSize,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<LandingPageSellStrategyGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
