/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 3.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api.v3;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.v3.ElementAppealReviewAddRequest;
import com.tencent.ads.model.v3.ElementAppealReviewAddResponse;
import com.tencent.ads.model.v3.ElementAppealReviewGetResponse;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ElementAppealReviewApi {
  private ApiClient apiClient;

  public ElementAppealReviewApi() {
    this(Configuration.getV3DefaultApiClient());
  }

  public ElementAppealReviewApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for elementAppealReviewAdd
   *
   * @param data (required)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call elementAppealReviewAddCall(
      ElementAppealReviewAddRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = data;

    // create path and map variables
    String localVarPath = "/element_appeal_review/add";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"application/json", "application/xml"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call elementAppealReviewAddValidateBeforeCall(
      ElementAppealReviewAddRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(
          "Missing the required parameter 'data' when calling elementAppealReviewAdd(Async)");
    }

    com.squareup.okhttp.Call call =
        elementAppealReviewAddCall(data, progressListener, progressRequestListener, headerPair);
    return call;
  }

  /**
   * 发起元素申诉复审
   *
   * @param data (required)
   * @return ElementAppealReviewAddResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ElementAppealReviewAddResponse elementAppealReviewAdd(
      ElementAppealReviewAddRequest data, Pair... headerPair) throws ApiException {
    ApiResponse<ElementAppealReviewAddResponse> resp =
        elementAppealReviewAddWithHttpInfo(data, headerPair);
    return resp.getData();
  }

  /**
   * 发起元素申诉复审
   *
   * @param data (required)
   * @return ApiResponse&lt;ElementAppealReviewAddResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ElementAppealReviewAddResponse> elementAppealReviewAddWithHttpInfo(
      ElementAppealReviewAddRequest data, Pair... headerPair) throws ApiException {
    com.squareup.okhttp.Call call =
        elementAppealReviewAddValidateBeforeCall(data, null, null, headerPair);
    Type localVarReturnType = new TypeToken<ElementAppealReviewAddResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 发起元素申诉复审 (asynchronously)
   *
   * @param data (required)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call elementAppealReviewAddAsync(
      ElementAppealReviewAddRequest data,
      final ApiCallback<ElementAppealReviewAddResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        elementAppealReviewAddValidateBeforeCall(
            data, progressListener, progressRequestListener, headerPair);
    Type localVarReturnType = new TypeToken<ElementAppealReviewAddResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for elementAppealReviewGet
   *
   * @param accountId (required)
   * @param dynamicCreativeId (required)
   * @param componentId (required)
   * @param elementId (required)
   * @param elementFingerPrint (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call elementAppealReviewGetCall(
      Long accountId,
      Long dynamicCreativeId,
      Long componentId,
      Long elementId,
      String elementFingerPrint,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/element_appeal_review/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (dynamicCreativeId != null)
      localVarQueryParams.addAll(
          apiClient.parameterToPair("dynamic_creative_id", dynamicCreativeId));
    if (componentId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("component_id", componentId));
    if (elementId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("element_id", elementId));
    if (elementFingerPrint != null)
      localVarQueryParams.addAll(
          apiClient.parameterToPair("element_finger_print", elementFingerPrint));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call elementAppealReviewGetValidateBeforeCall(
      Long accountId,
      Long dynamicCreativeId,
      Long componentId,
      Long elementId,
      String elementFingerPrint,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling elementAppealReviewGet(Async)");
    }

    // verify the required parameter 'dynamicCreativeId' is set
    if (dynamicCreativeId == null) {
      throw new ApiException(
          "Missing the required parameter 'dynamicCreativeId' when calling elementAppealReviewGet(Async)");
    }

    // verify the required parameter 'componentId' is set
    if (componentId == null) {
      throw new ApiException(
          "Missing the required parameter 'componentId' when calling elementAppealReviewGet(Async)");
    }

    // verify the required parameter 'elementId' is set
    if (elementId == null) {
      throw new ApiException(
          "Missing the required parameter 'elementId' when calling elementAppealReviewGet(Async)");
    }

    // verify the required parameter 'elementFingerPrint' is set
    if (elementFingerPrint == null) {
      throw new ApiException(
          "Missing the required parameter 'elementFingerPrint' when calling elementAppealReviewGet(Async)");
    }

    com.squareup.okhttp.Call call =
        elementAppealReviewGetCall(
            accountId,
            dynamicCreativeId,
            componentId,
            elementId,
            elementFingerPrint,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 获取元素申诉复审结果
   *
   * @param accountId (required)
   * @param dynamicCreativeId (required)
   * @param componentId (required)
   * @param elementId (required)
   * @param elementFingerPrint (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ElementAppealReviewGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ElementAppealReviewGetResponse elementAppealReviewGet(
      Long accountId,
      Long dynamicCreativeId,
      Long componentId,
      Long elementId,
      String elementFingerPrint,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    ApiResponse<ElementAppealReviewGetResponse> resp =
        elementAppealReviewGetWithHttpInfo(
            accountId,
            dynamicCreativeId,
            componentId,
            elementId,
            elementFingerPrint,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 获取元素申诉复审结果
   *
   * @param accountId (required)
   * @param dynamicCreativeId (required)
   * @param componentId (required)
   * @param elementId (required)
   * @param elementFingerPrint (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ElementAppealReviewGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ElementAppealReviewGetResponse> elementAppealReviewGetWithHttpInfo(
      Long accountId,
      Long dynamicCreativeId,
      Long componentId,
      Long elementId,
      String elementFingerPrint,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        elementAppealReviewGetValidateBeforeCall(
            accountId,
            dynamicCreativeId,
            componentId,
            elementId,
            elementFingerPrint,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<ElementAppealReviewGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 获取元素申诉复审结果 (asynchronously)
   *
   * @param accountId (required)
   * @param dynamicCreativeId (required)
   * @param componentId (required)
   * @param elementId (required)
   * @param elementFingerPrint (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call elementAppealReviewGetAsync(
      Long accountId,
      Long dynamicCreativeId,
      Long componentId,
      Long elementId,
      String elementFingerPrint,
      List<String> fields,
      final ApiCallback<ElementAppealReviewGetResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        elementAppealReviewGetValidateBeforeCall(
            accountId,
            dynamicCreativeId,
            componentId,
            elementId,
            elementFingerPrint,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ElementAppealReviewGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
