/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 3.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api.v3;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.v3.IllegalComplaintAddResponse;
import com.tencent.ads.model.v3.IllegalComplaintGetRequest;
import com.tencent.ads.model.v3.IllegalComplaintGetResponse;
import java.io.File;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class IllegalComplaintApi {
  private ApiClient apiClient;

  public IllegalComplaintApi() {
    this(Configuration.getV3DefaultApiClient());
  }

  public IllegalComplaintApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for illegalComplaintAdd
   *
   * @param accountId (required)
   * @param illegalOrderId (required)
   * @param complaintReason (required)
   * @param file (required)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call illegalComplaintAddCall(
      Long accountId,
      String illegalOrderId,
      String complaintReason,
      File file,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/illegal_complaint/add";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();
    if (accountId != null) localVarFormParams.put("account_id", accountId);
    if (illegalOrderId != null) localVarFormParams.put("illegal_order_id", illegalOrderId);
    if (complaintReason != null) localVarFormParams.put("complaint_reason", complaintReason);
    if (file != null) localVarFormParams.put("file", file);

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"multipart/form-data"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call illegalComplaintAddValidateBeforeCall(
      Long accountId,
      String illegalOrderId,
      String complaintReason,
      File file,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling illegalComplaintAdd(Async)");
    }

    // verify the required parameter 'illegalOrderId' is set
    if (illegalOrderId == null) {
      throw new ApiException(
          "Missing the required parameter 'illegalOrderId' when calling illegalComplaintAdd(Async)");
    }

    // verify the required parameter 'complaintReason' is set
    if (complaintReason == null) {
      throw new ApiException(
          "Missing the required parameter 'complaintReason' when calling illegalComplaintAdd(Async)");
    }

    // verify the required parameter 'file' is set
    if (file == null) {
      throw new ApiException(
          "Missing the required parameter 'file' when calling illegalComplaintAdd(Async)");
    }

    com.squareup.okhttp.Call call =
        illegalComplaintAddCall(
            accountId,
            illegalOrderId,
            complaintReason,
            file,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 新增广告主违规申述
   *
   * @param accountId (required)
   * @param illegalOrderId (required)
   * @param complaintReason (required)
   * @param file (required)
   * @return IllegalComplaintAddResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public IllegalComplaintAddResponse illegalComplaintAdd(
      Long accountId, String illegalOrderId, String complaintReason, File file, Pair... headerPair)
      throws ApiException {
    ApiResponse<IllegalComplaintAddResponse> resp =
        illegalComplaintAddWithHttpInfo(
            accountId, illegalOrderId, complaintReason, file, headerPair);
    return resp.getData();
  }

  /**
   * 新增广告主违规申述
   *
   * @param accountId (required)
   * @param illegalOrderId (required)
   * @param complaintReason (required)
   * @param file (required)
   * @return ApiResponse&lt;IllegalComplaintAddResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<IllegalComplaintAddResponse> illegalComplaintAddWithHttpInfo(
      Long accountId, String illegalOrderId, String complaintReason, File file, Pair... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        illegalComplaintAddValidateBeforeCall(
            accountId, illegalOrderId, complaintReason, file, null, null, headerPair);
    Type localVarReturnType = new TypeToken<IllegalComplaintAddResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 新增广告主违规申述 (asynchronously)
   *
   * @param accountId (required)
   * @param illegalOrderId (required)
   * @param complaintReason (required)
   * @param file (required)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call illegalComplaintAddAsync(
      Long accountId,
      String illegalOrderId,
      String complaintReason,
      File file,
      final ApiCallback<IllegalComplaintAddResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        illegalComplaintAddValidateBeforeCall(
            accountId,
            illegalOrderId,
            complaintReason,
            file,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<IllegalComplaintAddResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for illegalComplaintGet
   *
   * @param data (required)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call illegalComplaintGetCall(
      IllegalComplaintGetRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = data;

    // create path and map variables
    String localVarPath = "/illegal_complaint/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"application/json", "application/xml"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call illegalComplaintGetValidateBeforeCall(
      IllegalComplaintGetRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(
          "Missing the required parameter 'data' when calling illegalComplaintGet(Async)");
    }

    com.squareup.okhttp.Call call =
        illegalComplaintGetCall(data, progressListener, progressRequestListener, headerPair);
    return call;
  }

  /**
   * 获取直客广告主违规申述列表
   *
   * @param data (required)
   * @return IllegalComplaintGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public IllegalComplaintGetResponse illegalComplaintGet(
      IllegalComplaintGetRequest data, Pair... headerPair) throws ApiException {
    ApiResponse<IllegalComplaintGetResponse> resp =
        illegalComplaintGetWithHttpInfo(data, headerPair);
    return resp.getData();
  }

  /**
   * 获取直客广告主违规申述列表
   *
   * @param data (required)
   * @return ApiResponse&lt;IllegalComplaintGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<IllegalComplaintGetResponse> illegalComplaintGetWithHttpInfo(
      IllegalComplaintGetRequest data, Pair... headerPair) throws ApiException {
    com.squareup.okhttp.Call call =
        illegalComplaintGetValidateBeforeCall(data, null, null, headerPair);
    Type localVarReturnType = new TypeToken<IllegalComplaintGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 获取直客广告主违规申述列表 (asynchronously)
   *
   * @param data (required)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call illegalComplaintGetAsync(
      IllegalComplaintGetRequest data,
      final ApiCallback<IllegalComplaintGetResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        illegalComplaintGetValidateBeforeCall(
            data, progressListener, progressRequestListener, headerPair);
    Type localVarReturnType = new TypeToken<IllegalComplaintGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
