/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 3.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api.v3;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.v3.FilteringStruct;
import com.tencent.ads.model.v3.ImagesAddResponse;
import com.tencent.ads.model.v3.ImagesDeleteRequest;
import com.tencent.ads.model.v3.ImagesDeleteResponse;
import com.tencent.ads.model.v3.ImagesGetResponse;
import com.tencent.ads.model.v3.ImagesUpdateRequest;
import com.tencent.ads.model.v3.ImagesUpdateResponse;
import java.io.File;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ImagesApi {
  private ApiClient apiClient;

  public ImagesApi() {
    this(Configuration.getV3DefaultApiClient());
  }

  public ImagesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for imagesAdd
   *
   * @param uploadType (required)
   * @param signature (required)
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param file (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesAddCall(
      String uploadType,
      String signature,
      Long accountId,
      Long organizationId,
      File file,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/images/add";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();
    if (accountId != null) localVarFormParams.put("account_id", accountId);
    if (organizationId != null) localVarFormParams.put("organization_id", organizationId);
    if (uploadType != null) localVarFormParams.put("upload_type", uploadType);
    if (signature != null) localVarFormParams.put("signature", signature);
    if (file != null) localVarFormParams.put("file", file);
    if (bytes != null) localVarFormParams.put("bytes", bytes);
    if (imageUsage != null) localVarFormParams.put("image_usage", imageUsage);
    if (description != null) localVarFormParams.put("description", description);
    if (resizeWidth != null) localVarFormParams.put("resize_width", resizeWidth);
    if (resizeHeight != null) localVarFormParams.put("resize_height", resizeHeight);
    if (resizeFileSize != null) localVarFormParams.put("resize_file_size", resizeFileSize);

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"multipart/form-data"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesAddValidateBeforeCall(
      String uploadType,
      String signature,
      Long accountId,
      Long organizationId,
      File file,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'uploadType' is set
    if (uploadType == null) {
      throw new ApiException(
          "Missing the required parameter 'uploadType' when calling imagesAdd(Async)");
    }

    // verify the required parameter 'signature' is set
    if (signature == null) {
      throw new ApiException(
          "Missing the required parameter 'signature' when calling imagesAdd(Async)");
    }

    com.squareup.okhttp.Call call =
        imagesAddCall(
            uploadType,
            signature,
            accountId,
            organizationId,
            file,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 添加图片文件
   *
   * @param uploadType (required)
   * @param signature (required)
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param file (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @return ImagesAddResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesAddResponse imagesAdd(
      String uploadType,
      String signature,
      Long accountId,
      Long organizationId,
      File file,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      Pair... headerPair)
      throws ApiException {
    ApiResponse<ImagesAddResponse> resp =
        imagesAddWithHttpInfo(
            uploadType,
            signature,
            accountId,
            organizationId,
            file,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            headerPair);
    return resp.getData();
  }

  /**
   * 添加图片文件
   *
   * @param uploadType (required)
   * @param signature (required)
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param file (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @return ApiResponse&lt;ImagesAddResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesAddResponse> imagesAddWithHttpInfo(
      String uploadType,
      String signature,
      Long accountId,
      Long organizationId,
      File file,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      Pair... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        imagesAddValidateBeforeCall(
            uploadType,
            signature,
            accountId,
            organizationId,
            file,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesAddResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 添加图片文件 (asynchronously)
   *
   * @param uploadType (required)
   * @param signature (required)
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param file (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesAddAsync(
      String uploadType,
      String signature,
      Long accountId,
      Long organizationId,
      File file,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      final ApiCallback<ImagesAddResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesAddValidateBeforeCall(
            uploadType,
            signature,
            accountId,
            organizationId,
            file,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesAddResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for imagesDelete
   *
   * @param data (required)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesDeleteCall(
      ImagesDeleteRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = data;

    // create path and map variables
    String localVarPath = "/images/delete";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"application/json", "application/xml"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesDeleteValidateBeforeCall(
      ImagesDeleteRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(
          "Missing the required parameter 'data' when calling imagesDelete(Async)");
    }

    com.squareup.okhttp.Call call =
        imagesDeleteCall(data, progressListener, progressRequestListener, headerPair);
    return call;
  }

  /**
   * 删除图片
   *
   * @param data (required)
   * @return ImagesDeleteResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesDeleteResponse imagesDelete(ImagesDeleteRequest data, Pair... headerPair)
      throws ApiException {
    ApiResponse<ImagesDeleteResponse> resp = imagesDeleteWithHttpInfo(data, headerPair);
    return resp.getData();
  }

  /**
   * 删除图片
   *
   * @param data (required)
   * @return ApiResponse&lt;ImagesDeleteResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesDeleteResponse> imagesDeleteWithHttpInfo(
      ImagesDeleteRequest data, Pair... headerPair) throws ApiException {
    com.squareup.okhttp.Call call = imagesDeleteValidateBeforeCall(data, null, null, headerPair);
    Type localVarReturnType = new TypeToken<ImagesDeleteResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 删除图片 (asynchronously)
   *
   * @param data (required)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesDeleteAsync(
      ImagesDeleteRequest data,
      final ApiCallback<ImagesDeleteResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesDeleteValidateBeforeCall(data, progressListener, progressRequestListener, headerPair);
    Type localVarReturnType = new TypeToken<ImagesDeleteResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for imagesGet
   *
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesGetCall(
      Long accountId,
      Long organizationId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/images/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (organizationId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("organization_id", organizationId));
    if (filtering != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "filtering", filtering));
    if (page != null) localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    if (pageSize != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
    if (labelId != null) localVarQueryParams.addAll(apiClient.parameterToPair("label_id", labelId));
    if (businessScenario != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("business_scenario", businessScenario));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesGetValidateBeforeCall(
      Long accountId,
      Long organizationId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    com.squareup.okhttp.Call call =
        imagesGetCall(
            accountId,
            organizationId,
            filtering,
            page,
            pageSize,
            labelId,
            businessScenario,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 获取图片信息
   *
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ImagesGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesGetResponse imagesGet(
      Long accountId,
      Long organizationId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    ApiResponse<ImagesGetResponse> resp =
        imagesGetWithHttpInfo(
            accountId,
            organizationId,
            filtering,
            page,
            pageSize,
            labelId,
            businessScenario,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 获取图片信息
   *
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ImagesGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesGetResponse> imagesGetWithHttpInfo(
      Long accountId,
      Long organizationId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        imagesGetValidateBeforeCall(
            accountId,
            organizationId,
            filtering,
            page,
            pageSize,
            labelId,
            businessScenario,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 获取图片信息 (asynchronously)
   *
   * @param accountId (optional)
   * @param organizationId (optional)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesGetAsync(
      Long accountId,
      Long organizationId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      final ApiCallback<ImagesGetResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesGetValidateBeforeCall(
            accountId,
            organizationId,
            filtering,
            page,
            pageSize,
            labelId,
            businessScenario,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for imagesUpdate
   *
   * @param data (required)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesUpdateCall(
      ImagesUpdateRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = data;

    // create path and map variables
    String localVarPath = "/images/update";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"application/json", "application/xml"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesUpdateValidateBeforeCall(
      ImagesUpdateRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(
          "Missing the required parameter 'data' when calling imagesUpdate(Async)");
    }

    com.squareup.okhttp.Call call =
        imagesUpdateCall(data, progressListener, progressRequestListener, headerPair);
    return call;
  }

  /**
   * 修改图片信息
   *
   * @param data (required)
   * @return ImagesUpdateResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesUpdateResponse imagesUpdate(ImagesUpdateRequest data, Pair... headerPair)
      throws ApiException {
    ApiResponse<ImagesUpdateResponse> resp = imagesUpdateWithHttpInfo(data, headerPair);
    return resp.getData();
  }

  /**
   * 修改图片信息
   *
   * @param data (required)
   * @return ApiResponse&lt;ImagesUpdateResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesUpdateResponse> imagesUpdateWithHttpInfo(
      ImagesUpdateRequest data, Pair... headerPair) throws ApiException {
    com.squareup.okhttp.Call call = imagesUpdateValidateBeforeCall(data, null, null, headerPair);
    Type localVarReturnType = new TypeToken<ImagesUpdateResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 修改图片信息 (asynchronously)
   *
   * @param data (required)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesUpdateAsync(
      ImagesUpdateRequest data,
      final ApiCallback<ImagesUpdateResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesUpdateValidateBeforeCall(data, progressListener, progressRequestListener, headerPair);
    Type localVarReturnType = new TypeToken<ImagesUpdateResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
