/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 3.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api.v3;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.v3.FilteringStruct;
import com.tencent.ads.model.v3.ImagesAddResponse;
import com.tencent.ads.model.v3.ImagesDeleteResponse;
import com.tencent.ads.model.v3.ImagesGetResponse;
import com.tencent.ads.model.v3.ImagesUpdateResponse;
import java.io.File;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ImagesApi {
  private ApiClient apiClient;

  public ImagesApi() {
    this(Configuration.getDefaultApiClient());
  }

  public ImagesApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for imagesAdd
   *
   * @param advertiserId (required)
   * @param uploadType (required)
   * @param imageSignature (required)
   * @param imageFile (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesAddCall(
      Long advertiserId,
      String uploadType,
      String imageSignature,
      File imageFile,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/images/add";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (advertiserId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("advertiser_id", advertiserId));
    if (uploadType != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("upload_type", uploadType));
    if (imageSignature != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("image_signature", imageSignature));
    if (imageFile != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("image_file", imageFile));
    if (bytes != null) localVarQueryParams.addAll(apiClient.parameterToPair("bytes", bytes));
    if (imageUsage != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("image_usage", imageUsage));
    if (description != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("description", description));
    if (resizeWidth != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("resize_width", resizeWidth));
    if (resizeHeight != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("resize_height", resizeHeight));
    if (resizeFileSize != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("resize_file_size", resizeFileSize));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      if (headerPair.length % 2 != 0) {
        throw new UnsupportedOperationException("Parameter headerPair must be paired");
      }
      for (int i = 0; i < headerPair.length / 2; i++) {
        localVarHeaderParams.put(headerPair[i], headerPair[i * 2 + 1]);
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesAddValidateBeforeCall(
      Long advertiserId,
      String uploadType,
      String imageSignature,
      File imageFile,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    // verify the required parameter 'advertiserId' is set
    if (advertiserId == null) {
      throw new ApiException(
          "Missing the required parameter 'advertiserId' when calling imagesAdd(Async)");
    }

    // verify the required parameter 'uploadType' is set
    if (uploadType == null) {
      throw new ApiException(
          "Missing the required parameter 'uploadType' when calling imagesAdd(Async)");
    }

    // verify the required parameter 'imageSignature' is set
    if (imageSignature == null) {
      throw new ApiException(
          "Missing the required parameter 'imageSignature' when calling imagesAdd(Async)");
    }

    com.squareup.okhttp.Call call =
        imagesAddCall(
            advertiserId,
            uploadType,
            imageSignature,
            imageFile,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 添加图片文件
   *
   * @param advertiserId (required)
   * @param uploadType (required)
   * @param imageSignature (required)
   * @param imageFile (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ImagesAddResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesAddResponse imagesAdd(
      Long advertiserId,
      String uploadType,
      String imageSignature,
      File imageFile,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    ApiResponse<ImagesAddResponse> resp =
        imagesAddWithHttpInfo(
            advertiserId,
            uploadType,
            imageSignature,
            imageFile,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 添加图片文件
   *
   * @param advertiserId (required)
   * @param uploadType (required)
   * @param imageSignature (required)
   * @param imageFile (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ImagesAddResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesAddResponse> imagesAddWithHttpInfo(
      Long advertiserId,
      String uploadType,
      String imageSignature,
      File imageFile,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        imagesAddValidateBeforeCall(
            advertiserId,
            uploadType,
            imageSignature,
            imageFile,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesAddResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 添加图片文件 (asynchronously)
   *
   * @param advertiserId (required)
   * @param uploadType (required)
   * @param imageSignature (required)
   * @param imageFile (optional)
   * @param bytes (optional)
   * @param imageUsage (optional)
   * @param description (optional)
   * @param resizeWidth (optional)
   * @param resizeHeight (optional)
   * @param resizeFileSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesAddAsync(
      Long advertiserId,
      String uploadType,
      String imageSignature,
      File imageFile,
      String bytes,
      String imageUsage,
      String description,
      Long resizeWidth,
      Long resizeHeight,
      Long resizeFileSize,
      List<String> fields,
      final ApiCallback<ImagesAddResponse> callback,
      String... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesAddValidateBeforeCall(
            advertiserId,
            uploadType,
            imageSignature,
            imageFile,
            bytes,
            imageUsage,
            description,
            resizeWidth,
            resizeHeight,
            resizeFileSize,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesAddResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for imagesDelete
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesDeleteCall(
      Long advertiserId,
      String imageId,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/images/delete";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (advertiserId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("advertiser_id", advertiserId));
    if (imageId != null) localVarQueryParams.addAll(apiClient.parameterToPair("image_id", imageId));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      if (headerPair.length % 2 != 0) {
        throw new UnsupportedOperationException("Parameter headerPair must be paired");
      }
      for (int i = 0; i < headerPair.length / 2; i++) {
        localVarHeaderParams.put(headerPair[i], headerPair[i * 2 + 1]);
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesDeleteValidateBeforeCall(
      Long advertiserId,
      String imageId,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    // verify the required parameter 'advertiserId' is set
    if (advertiserId == null) {
      throw new ApiException(
          "Missing the required parameter 'advertiserId' when calling imagesDelete(Async)");
    }

    // verify the required parameter 'imageId' is set
    if (imageId == null) {
      throw new ApiException(
          "Missing the required parameter 'imageId' when calling imagesDelete(Async)");
    }

    com.squareup.okhttp.Call call =
        imagesDeleteCall(
            advertiserId, imageId, fields, progressListener, progressRequestListener, headerPair);
    return call;
  }

  /**
   * 删除图片
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ImagesDeleteResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesDeleteResponse imagesDelete(
      Long advertiserId, String imageId, List<String> fields, String... headerPair)
      throws ApiException {
    ApiResponse<ImagesDeleteResponse> resp =
        imagesDeleteWithHttpInfo(advertiserId, imageId, fields, headerPair);
    return resp.getData();
  }

  /**
   * 删除图片
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ImagesDeleteResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesDeleteResponse> imagesDeleteWithHttpInfo(
      Long advertiserId, String imageId, List<String> fields, String... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        imagesDeleteValidateBeforeCall(advertiserId, imageId, fields, null, null, headerPair);
    Type localVarReturnType = new TypeToken<ImagesDeleteResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 删除图片 (asynchronously)
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesDeleteAsync(
      Long advertiserId,
      String imageId,
      List<String> fields,
      final ApiCallback<ImagesDeleteResponse> callback,
      String... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesDeleteValidateBeforeCall(
            advertiserId, imageId, fields, progressListener, progressRequestListener, headerPair);
    Type localVarReturnType = new TypeToken<ImagesDeleteResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for imagesGet
   *
   * @param accountId (required)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesGetCall(
      Long accountId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/images/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (filtering != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "filtering", filtering));
    if (page != null) localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    if (pageSize != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
    if (labelId != null) localVarQueryParams.addAll(apiClient.parameterToPair("label_id", labelId));
    if (businessScenario != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("business_scenario", businessScenario));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      if (headerPair.length % 2 != 0) {
        throw new UnsupportedOperationException("Parameter headerPair must be paired");
      }
      for (int i = 0; i < headerPair.length / 2; i++) {
        localVarHeaderParams.put(headerPair[i], headerPair[i * 2 + 1]);
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesGetValidateBeforeCall(
      Long accountId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling imagesGet(Async)");
    }

    com.squareup.okhttp.Call call =
        imagesGetCall(
            accountId,
            filtering,
            page,
            pageSize,
            labelId,
            businessScenario,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 获取图片信息
   *
   * @param accountId (required)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ImagesGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesGetResponse imagesGet(
      Long accountId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    ApiResponse<ImagesGetResponse> resp =
        imagesGetWithHttpInfo(
            accountId, filtering, page, pageSize, labelId, businessScenario, fields, headerPair);
    return resp.getData();
  }

  /**
   * 获取图片信息
   *
   * @param accountId (required)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ImagesGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesGetResponse> imagesGetWithHttpInfo(
      Long accountId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        imagesGetValidateBeforeCall(
            accountId,
            filtering,
            page,
            pageSize,
            labelId,
            businessScenario,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 获取图片信息 (asynchronously)
   *
   * @param accountId (required)
   * @param filtering (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param labelId (optional)
   * @param businessScenario (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesGetAsync(
      Long accountId,
      List<FilteringStruct> filtering,
      Long page,
      Long pageSize,
      Long labelId,
      Long businessScenario,
      List<String> fields,
      final ApiCallback<ImagesGetResponse> callback,
      String... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesGetValidateBeforeCall(
            accountId,
            filtering,
            page,
            pageSize,
            labelId,
            businessScenario,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for imagesUpdate
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param description (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call imagesUpdateCall(
      Long advertiserId,
      String imageId,
      String description,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/images/update";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (advertiserId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("advertiser_id", advertiserId));
    if (imageId != null) localVarQueryParams.addAll(apiClient.parameterToPair("image_id", imageId));
    if (description != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("description", description));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      if (headerPair.length % 2 != 0) {
        throw new UnsupportedOperationException("Parameter headerPair must be paired");
      }
      for (int i = 0; i < headerPair.length / 2; i++) {
        localVarHeaderParams.put(headerPair[i], headerPair[i * 2 + 1]);
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call imagesUpdateValidateBeforeCall(
      Long advertiserId,
      String imageId,
      String description,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    // verify the required parameter 'advertiserId' is set
    if (advertiserId == null) {
      throw new ApiException(
          "Missing the required parameter 'advertiserId' when calling imagesUpdate(Async)");
    }

    // verify the required parameter 'imageId' is set
    if (imageId == null) {
      throw new ApiException(
          "Missing the required parameter 'imageId' when calling imagesUpdate(Async)");
    }

    // verify the required parameter 'description' is set
    if (description == null) {
      throw new ApiException(
          "Missing the required parameter 'description' when calling imagesUpdate(Async)");
    }

    com.squareup.okhttp.Call call =
        imagesUpdateCall(
            advertiserId,
            imageId,
            description,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 修改图片信息
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param description (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ImagesUpdateResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ImagesUpdateResponse imagesUpdate(
      Long advertiserId,
      String imageId,
      String description,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    ApiResponse<ImagesUpdateResponse> resp =
        imagesUpdateWithHttpInfo(advertiserId, imageId, description, fields, headerPair);
    return resp.getData();
  }

  /**
   * 修改图片信息
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param description (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ImagesUpdateResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ImagesUpdateResponse> imagesUpdateWithHttpInfo(
      Long advertiserId,
      String imageId,
      String description,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        imagesUpdateValidateBeforeCall(
            advertiserId, imageId, description, fields, null, null, headerPair);
    Type localVarReturnType = new TypeToken<ImagesUpdateResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 修改图片信息 (asynchronously)
   *
   * @param advertiserId (required)
   * @param imageId (required)
   * @param description (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call imagesUpdateAsync(
      Long advertiserId,
      String imageId,
      String description,
      List<String> fields,
      final ApiCallback<ImagesUpdateResponse> callback,
      String... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        imagesUpdateValidateBeforeCall(
            advertiserId,
            imageId,
            description,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ImagesUpdateResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
