/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 3.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api.v3;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.v3.MarketingAssetOuterSpecV1;
import com.tencent.ads.model.v3.MaterialDcatagAddRequest;
import com.tencent.ads.model.v3.MaterialDcatagAddResponse;
import com.tencent.ads.model.v3.MaterialDcatagGetResponse;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MaterialDcatagApi {
  private ApiClient apiClient;

  public MaterialDcatagApi() {
    this(Configuration.getV3DefaultApiClient());
  }

  public MaterialDcatagApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for materialDcatagAdd
   *
   * @param data (required)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call materialDcatagAddCall(
      MaterialDcatagAddRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = data;

    // create path and map variables
    String localVarPath = "/material_dcatag/add";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"application/json", "application/xml"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call materialDcatagAddValidateBeforeCall(
      MaterialDcatagAddRequest data,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'data' is set
    if (data == null) {
      throw new ApiException(
          "Missing the required parameter 'data' when calling materialDcatagAdd(Async)");
    }

    com.squareup.okhttp.Call call =
        materialDcatagAddCall(data, progressListener, progressRequestListener, headerPair);
    return call;
  }

  /**
   * 素材DCA标签绑定新增
   *
   * @param data (required)
   * @return MaterialDcatagAddResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public MaterialDcatagAddResponse materialDcatagAdd(
      MaterialDcatagAddRequest data, Pair... headerPair) throws ApiException {
    ApiResponse<MaterialDcatagAddResponse> resp = materialDcatagAddWithHttpInfo(data, headerPair);
    return resp.getData();
  }

  /**
   * 素材DCA标签绑定新增
   *
   * @param data (required)
   * @return ApiResponse&lt;MaterialDcatagAddResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<MaterialDcatagAddResponse> materialDcatagAddWithHttpInfo(
      MaterialDcatagAddRequest data, Pair... headerPair) throws ApiException {
    com.squareup.okhttp.Call call =
        materialDcatagAddValidateBeforeCall(data, null, null, headerPair);
    Type localVarReturnType = new TypeToken<MaterialDcatagAddResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 素材DCA标签绑定新增 (asynchronously)
   *
   * @param data (required)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call materialDcatagAddAsync(
      MaterialDcatagAddRequest data,
      final ApiCallback<MaterialDcatagAddResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        materialDcatagAddValidateBeforeCall(
            data, progressListener, progressRequestListener, headerPair);
    Type localVarReturnType = new TypeToken<MaterialDcatagAddResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for materialDcatagGet
   *
   * @param accountId (optional)
   * @param imageIdList (optional)
   * @param mediaIdList (optional)
   * @param marketingAssetId (optional)
   * @param marketingTargetType (optional)
   * @param marketingAssetOuterSpec (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call materialDcatagGetCall(
      Long accountId,
      List<Long> imageIdList,
      List<Long> mediaIdList,
      Long marketingAssetId,
      String marketingTargetType,
      MarketingAssetOuterSpecV1 marketingAssetOuterSpec,
      Long page,
      Long pageSize,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/material_dcatag/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (imageIdList != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "image_id_list", imageIdList));
    if (mediaIdList != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "media_id_list", mediaIdList));
    if (marketingAssetId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("marketing_asset_id", marketingAssetId));
    if (marketingTargetType != null)
      localVarQueryParams.addAll(
          apiClient.parameterToPair("marketing_target_type", marketingTargetType));
    if (marketingAssetOuterSpec != null)
      localVarQueryParams.addAll(
          apiClient.parameterToPair("marketing_asset_outer_spec", marketingAssetOuterSpec));
    if (page != null) localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    if (pageSize != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call materialDcatagGetValidateBeforeCall(
      Long accountId,
      List<Long> imageIdList,
      List<Long> mediaIdList,
      Long marketingAssetId,
      String marketingTargetType,
      MarketingAssetOuterSpecV1 marketingAssetOuterSpec,
      Long page,
      Long pageSize,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    com.squareup.okhttp.Call call =
        materialDcatagGetCall(
            accountId,
            imageIdList,
            mediaIdList,
            marketingAssetId,
            marketingTargetType,
            marketingAssetOuterSpec,
            page,
            pageSize,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 素材DCA标签绑定查询
   *
   * @param accountId (optional)
   * @param imageIdList (optional)
   * @param mediaIdList (optional)
   * @param marketingAssetId (optional)
   * @param marketingTargetType (optional)
   * @param marketingAssetOuterSpec (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return MaterialDcatagGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public MaterialDcatagGetResponse materialDcatagGet(
      Long accountId,
      List<Long> imageIdList,
      List<Long> mediaIdList,
      Long marketingAssetId,
      String marketingTargetType,
      MarketingAssetOuterSpecV1 marketingAssetOuterSpec,
      Long page,
      Long pageSize,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    ApiResponse<MaterialDcatagGetResponse> resp =
        materialDcatagGetWithHttpInfo(
            accountId,
            imageIdList,
            mediaIdList,
            marketingAssetId,
            marketingTargetType,
            marketingAssetOuterSpec,
            page,
            pageSize,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 素材DCA标签绑定查询
   *
   * @param accountId (optional)
   * @param imageIdList (optional)
   * @param mediaIdList (optional)
   * @param marketingAssetId (optional)
   * @param marketingTargetType (optional)
   * @param marketingAssetOuterSpec (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;MaterialDcatagGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<MaterialDcatagGetResponse> materialDcatagGetWithHttpInfo(
      Long accountId,
      List<Long> imageIdList,
      List<Long> mediaIdList,
      Long marketingAssetId,
      String marketingTargetType,
      MarketingAssetOuterSpecV1 marketingAssetOuterSpec,
      Long page,
      Long pageSize,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        materialDcatagGetValidateBeforeCall(
            accountId,
            imageIdList,
            mediaIdList,
            marketingAssetId,
            marketingTargetType,
            marketingAssetOuterSpec,
            page,
            pageSize,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<MaterialDcatagGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 素材DCA标签绑定查询 (asynchronously)
   *
   * @param accountId (optional)
   * @param imageIdList (optional)
   * @param mediaIdList (optional)
   * @param marketingAssetId (optional)
   * @param marketingTargetType (optional)
   * @param marketingAssetOuterSpec (optional)
   * @param page (optional)
   * @param pageSize (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call materialDcatagGetAsync(
      Long accountId,
      List<Long> imageIdList,
      List<Long> mediaIdList,
      Long marketingAssetId,
      String marketingTargetType,
      MarketingAssetOuterSpecV1 marketingAssetOuterSpec,
      Long page,
      Long pageSize,
      List<String> fields,
      final ApiCallback<MaterialDcatagGetResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        materialDcatagGetValidateBeforeCall(
            accountId,
            imageIdList,
            mediaIdList,
            marketingAssetId,
            marketingTargetType,
            marketingAssetOuterSpec,
            page,
            pageSize,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<MaterialDcatagGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
