/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 3.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api.v3;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.v3.OperationLogListGetResponse;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OperationLogListApi {
  private ApiClient apiClient;

  public OperationLogListApi() {
    this(Configuration.getV3DefaultApiClient());
  }

  public OperationLogListApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for operationLogListGet
   *
   * @param accountId (required)
   * @param operationObjectType (required)
   * @param startDate (required)
   * @param endDate (required)
   * @param page (required)
   * @param pageSize (required)
   * @param objectId (optional)
   * @param operatorPlatformList (optional)
   * @param operationActionList (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call operationLogListGetCall(
      Long accountId,
      String operationObjectType,
      String startDate,
      String endDate,
      Long page,
      Long pageSize,
      Long objectId,
      List<String> operatorPlatformList,
      List<String> operationActionList,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/operation_log_list/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (operationObjectType != null)
      localVarQueryParams.addAll(
          apiClient.parameterToPair("operation_object_type", operationObjectType));
    if (startDate != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("start_date", startDate));
    if (endDate != null) localVarQueryParams.addAll(apiClient.parameterToPair("end_date", endDate));
    if (page != null) localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    if (pageSize != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));
    if (objectId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("object_id", objectId));
    if (operatorPlatformList != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "operator_platform_list", operatorPlatformList));
    if (operationActionList != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "operation_action_list", operationActionList));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      for (int i = 0; i < headerPair.length; i++) {
        localVarHeaderParams.put(headerPair[i].getName(), headerPair[i].getValue());
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call operationLogListGetValidateBeforeCall(
      Long accountId,
      String operationObjectType,
      String startDate,
      String endDate,
      Long page,
      Long pageSize,
      Long objectId,
      List<String> operatorPlatformList,
      List<String> operationActionList,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      Pair... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling operationLogListGet(Async)");
    }

    // verify the required parameter 'operationObjectType' is set
    if (operationObjectType == null) {
      throw new ApiException(
          "Missing the required parameter 'operationObjectType' when calling operationLogListGet(Async)");
    }

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      throw new ApiException(
          "Missing the required parameter 'startDate' when calling operationLogListGet(Async)");
    }

    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      throw new ApiException(
          "Missing the required parameter 'endDate' when calling operationLogListGet(Async)");
    }

    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(
          "Missing the required parameter 'page' when calling operationLogListGet(Async)");
    }

    // verify the required parameter 'pageSize' is set
    if (pageSize == null) {
      throw new ApiException(
          "Missing the required parameter 'pageSize' when calling operationLogListGet(Async)");
    }

    com.squareup.okhttp.Call call =
        operationLogListGetCall(
            accountId,
            operationObjectType,
            startDate,
            endDate,
            page,
            pageSize,
            objectId,
            operatorPlatformList,
            operationActionList,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 获取操作日志列表
   *
   * @param accountId (required)
   * @param operationObjectType (required)
   * @param startDate (required)
   * @param endDate (required)
   * @param page (required)
   * @param pageSize (required)
   * @param objectId (optional)
   * @param operatorPlatformList (optional)
   * @param operationActionList (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return OperationLogListGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public OperationLogListGetResponse operationLogListGet(
      Long accountId,
      String operationObjectType,
      String startDate,
      String endDate,
      Long page,
      Long pageSize,
      Long objectId,
      List<String> operatorPlatformList,
      List<String> operationActionList,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    ApiResponse<OperationLogListGetResponse> resp =
        operationLogListGetWithHttpInfo(
            accountId,
            operationObjectType,
            startDate,
            endDate,
            page,
            pageSize,
            objectId,
            operatorPlatformList,
            operationActionList,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 获取操作日志列表
   *
   * @param accountId (required)
   * @param operationObjectType (required)
   * @param startDate (required)
   * @param endDate (required)
   * @param page (required)
   * @param pageSize (required)
   * @param objectId (optional)
   * @param operatorPlatformList (optional)
   * @param operationActionList (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;OperationLogListGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<OperationLogListGetResponse> operationLogListGetWithHttpInfo(
      Long accountId,
      String operationObjectType,
      String startDate,
      String endDate,
      Long page,
      Long pageSize,
      Long objectId,
      List<String> operatorPlatformList,
      List<String> operationActionList,
      List<String> fields,
      Pair... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        operationLogListGetValidateBeforeCall(
            accountId,
            operationObjectType,
            startDate,
            endDate,
            page,
            pageSize,
            objectId,
            operatorPlatformList,
            operationActionList,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<OperationLogListGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 获取操作日志列表 (asynchronously)
   *
   * @param accountId (required)
   * @param operationObjectType (required)
   * @param startDate (required)
   * @param endDate (required)
   * @param page (required)
   * @param pageSize (required)
   * @param objectId (optional)
   * @param operatorPlatformList (optional)
   * @param operationActionList (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call operationLogListGetAsync(
      Long accountId,
      String operationObjectType,
      String startDate,
      String endDate,
      Long page,
      Long pageSize,
      Long objectId,
      List<String> operatorPlatformList,
      List<String> operationActionList,
      List<String> fields,
      final ApiCallback<OperationLogListGetResponse> callback,
      Pair... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        operationLogListGetValidateBeforeCall(
            accountId,
            operationObjectType,
            startDate,
            endDate,
            page,
            pageSize,
            objectId,
            operatorPlatformList,
            operationActionList,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<OperationLogListGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
