/*
 * Marketing API
 * Marketing API
 *
 * OpenAPI spec version: 3.0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.tencent.ads.api.v3;

import com.google.gson.reflect.TypeToken;
import com.tencent.ads.ApiCallback;
import com.tencent.ads.ApiClient;
import com.tencent.ads.ApiException;
import com.tencent.ads.ApiResponse;
import com.tencent.ads.Configuration;
import com.tencent.ads.Pair;
import com.tencent.ads.ProgressRequestBody;
import com.tencent.ads.ProgressResponseBody;
import com.tencent.ads.model.v3.MaterialGroupCreateStruct;
import com.tencent.ads.model.v3.MaterialGroupUpdateStruct;
import com.tencent.ads.model.v3.ProgrammedAddResponse;
import com.tencent.ads.model.v3.ProgrammedGetResponse;
import com.tencent.ads.model.v3.ProgrammedUpdateResponse;
import java.io.IOException;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProgrammedApi {
  private ApiClient apiClient;

  public ProgrammedApi() {
    this(Configuration.getDefaultApiClient());
  }

  public ProgrammedApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Build call for programmedAdd
   *
   * @param accountId (required)
   * @param adgroupId (required)
   * @param createMaterialGroups (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call programmedAddCall(
      Long accountId,
      Long adgroupId,
      List<MaterialGroupCreateStruct> createMaterialGroups,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/programmed/add";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (adgroupId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("adgroup_id", adgroupId));
    if (autoDerivedProgramCreativeSwitch != null)
      localVarQueryParams.addAll(
          apiClient.parameterToPair(
              "auto_derived_program_creative_switch", autoDerivedProgramCreativeSwitch));
    if (standardSwitch != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("standard_switch", standardSwitch));
    if (createMaterialGroups != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "create_material_groups", createMaterialGroups));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      if (headerPair.length % 2 != 0) {
        throw new UnsupportedOperationException("Parameter headerPair must be paired");
      }
      for (int i = 0; i < headerPair.length / 2; i++) {
        localVarHeaderParams.put(headerPair[i], headerPair[i * 2 + 1]);
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call programmedAddValidateBeforeCall(
      Long accountId,
      Long adgroupId,
      List<MaterialGroupCreateStruct> createMaterialGroups,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling programmedAdd(Async)");
    }

    // verify the required parameter 'adgroupId' is set
    if (adgroupId == null) {
      throw new ApiException(
          "Missing the required parameter 'adgroupId' when calling programmedAdd(Async)");
    }

    // verify the required parameter 'createMaterialGroups' is set
    if (createMaterialGroups == null) {
      throw new ApiException(
          "Missing the required parameter 'createMaterialGroups' when calling programmedAdd(Async)");
    }

    com.squareup.okhttp.Call call =
        programmedAddCall(
            accountId,
            adgroupId,
            createMaterialGroups,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 创建模板预览接口
   *
   * @param accountId (required)
   * @param adgroupId (required)
   * @param createMaterialGroups (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ProgrammedAddResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ProgrammedAddResponse programmedAdd(
      Long accountId,
      Long adgroupId,
      List<MaterialGroupCreateStruct> createMaterialGroups,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    ApiResponse<ProgrammedAddResponse> resp =
        programmedAddWithHttpInfo(
            accountId,
            adgroupId,
            createMaterialGroups,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 创建模板预览接口
   *
   * @param accountId (required)
   * @param adgroupId (required)
   * @param createMaterialGroups (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ProgrammedAddResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ProgrammedAddResponse> programmedAddWithHttpInfo(
      Long accountId,
      Long adgroupId,
      List<MaterialGroupCreateStruct> createMaterialGroups,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        programmedAddValidateBeforeCall(
            accountId,
            adgroupId,
            createMaterialGroups,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<ProgrammedAddResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 创建模板预览接口 (asynchronously)
   *
   * @param accountId (required)
   * @param adgroupId (required)
   * @param createMaterialGroups (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call programmedAddAsync(
      Long accountId,
      Long adgroupId,
      List<MaterialGroupCreateStruct> createMaterialGroups,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<String> fields,
      final ApiCallback<ProgrammedAddResponse> callback,
      String... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        programmedAddValidateBeforeCall(
            accountId,
            adgroupId,
            createMaterialGroups,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ProgrammedAddResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for programmedGet
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call programmedGetCall(
      Long accountId,
      Long materialDeriveId,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/programmed/get";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (materialDeriveId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("material_derive_id", materialDeriveId));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      if (headerPair.length % 2 != 0) {
        throw new UnsupportedOperationException("Parameter headerPair must be paired");
      }
      for (int i = 0; i < headerPair.length / 2; i++) {
        localVarHeaderParams.put(headerPair[i], headerPair[i * 2 + 1]);
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call programmedGetValidateBeforeCall(
      Long accountId,
      Long materialDeriveId,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling programmedGet(Async)");
    }

    // verify the required parameter 'materialDeriveId' is set
    if (materialDeriveId == null) {
      throw new ApiException(
          "Missing the required parameter 'materialDeriveId' when calling programmedGet(Async)");
    }

    com.squareup.okhttp.Call call =
        programmedGetCall(
            accountId,
            materialDeriveId,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 获取模板预览接口
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ProgrammedGetResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ProgrammedGetResponse programmedGet(
      Long accountId, Long materialDeriveId, List<String> fields, String... headerPair)
      throws ApiException {
    ApiResponse<ProgrammedGetResponse> resp =
        programmedGetWithHttpInfo(accountId, materialDeriveId, fields, headerPair);
    return resp.getData();
  }

  /**
   * 获取模板预览接口
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ProgrammedGetResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ProgrammedGetResponse> programmedGetWithHttpInfo(
      Long accountId, Long materialDeriveId, List<String> fields, String... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        programmedGetValidateBeforeCall(
            accountId, materialDeriveId, fields, null, null, headerPair);
    Type localVarReturnType = new TypeToken<ProgrammedGetResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 获取模板预览接口 (asynchronously)
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call programmedGetAsync(
      Long accountId,
      Long materialDeriveId,
      List<String> fields,
      final ApiCallback<ProgrammedGetResponse> callback,
      String... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        programmedGetValidateBeforeCall(
            accountId,
            materialDeriveId,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ProgrammedGetResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
  /**
   * Build call for programmedUpdate
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param updateMaterialGroups (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param progressListener Progress listener
   * @param progressRequestListener Progress request listener
   * @return Call to execute
   * @throws ApiException If fail to serialize the request body object
   */
  public com.squareup.okhttp.Call programmedUpdateCall(
      Long accountId,
      Long materialDeriveId,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<MaterialGroupUpdateStruct> updateMaterialGroups,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    Object localVarPostBody = null;

    // create path and map variables
    String localVarPath = "/programmed/update";

    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    if (accountId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("account_id", accountId));
    if (materialDeriveId != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("material_derive_id", materialDeriveId));
    if (autoDerivedProgramCreativeSwitch != null)
      localVarQueryParams.addAll(
          apiClient.parameterToPair(
              "auto_derived_program_creative_switch", autoDerivedProgramCreativeSwitch));
    if (standardSwitch != null)
      localVarQueryParams.addAll(apiClient.parameterToPair("standard_switch", standardSwitch));
    if (updateMaterialGroups != null)
      localVarCollectionQueryParams.addAll(
          apiClient.parameterToPairs("multi", "update_material_groups", updateMaterialGroups));
    if (fields != null)
      localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "fields", fields));

    Map<String, String> localVarHeaderParams = new HashMap<String, String>();

    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    final String[] localVarAccepts = {"application/json"};
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
    if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

    final String[] localVarContentTypes = {"text/plain"};
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
    localVarHeaderParams.put("Content-Type", localVarContentType);

    if (headerPair != null && headerPair.length > 0) {
      if (headerPair.length % 2 != 0) {
        throw new UnsupportedOperationException("Parameter headerPair must be paired");
      }
      for (int i = 0; i < headerPair.length / 2; i++) {
        localVarHeaderParams.put(headerPair[i], headerPair[i * 2 + 1]);
      }
    }

    if (progressListener != null) {
      apiClient
          .getHttpClient()
          .networkInterceptors()
          .add(
              new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(
                    com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                  com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                  return originalResponse
                      .newBuilder()
                      .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                      .build();
                }
              });
    }

    String[] localVarAuthNames = new String[] {"accessToken", "nonce", "timestamp"};
    return apiClient.buildCall(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarPostBody,
        localVarHeaderParams,
        localVarFormParams,
        localVarAuthNames,
        progressRequestListener);
  }

  @SuppressWarnings("rawtypes")
  private com.squareup.okhttp.Call programmedUpdateValidateBeforeCall(
      Long accountId,
      Long materialDeriveId,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<MaterialGroupUpdateStruct> updateMaterialGroups,
      List<String> fields,
      final ProgressResponseBody.ProgressListener progressListener,
      final ProgressRequestBody.ProgressRequestListener progressRequestListener,
      String... headerPair)
      throws ApiException {

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      throw new ApiException(
          "Missing the required parameter 'accountId' when calling programmedUpdate(Async)");
    }

    // verify the required parameter 'materialDeriveId' is set
    if (materialDeriveId == null) {
      throw new ApiException(
          "Missing the required parameter 'materialDeriveId' when calling programmedUpdate(Async)");
    }

    com.squareup.okhttp.Call call =
        programmedUpdateCall(
            accountId,
            materialDeriveId,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            updateMaterialGroups,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    return call;
  }

  /**
   * 更新模板预览接口
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param updateMaterialGroups (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ProgrammedUpdateResponse
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ProgrammedUpdateResponse programmedUpdate(
      Long accountId,
      Long materialDeriveId,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<MaterialGroupUpdateStruct> updateMaterialGroups,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    ApiResponse<ProgrammedUpdateResponse> resp =
        programmedUpdateWithHttpInfo(
            accountId,
            materialDeriveId,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            updateMaterialGroups,
            fields,
            headerPair);
    return resp.getData();
  }

  /**
   * 更新模板预览接口
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param updateMaterialGroups (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @return ApiResponse&lt;ProgrammedUpdateResponse&gt;
   * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
   *     response body
   */
  public ApiResponse<ProgrammedUpdateResponse> programmedUpdateWithHttpInfo(
      Long accountId,
      Long materialDeriveId,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<MaterialGroupUpdateStruct> updateMaterialGroups,
      List<String> fields,
      String... headerPair)
      throws ApiException {
    com.squareup.okhttp.Call call =
        programmedUpdateValidateBeforeCall(
            accountId,
            materialDeriveId,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            updateMaterialGroups,
            fields,
            null,
            null,
            headerPair);
    Type localVarReturnType = new TypeToken<ProgrammedUpdateResponse>() {}.getType();
    return apiClient.execute(call, localVarReturnType);
  }

  /**
   * 更新模板预览接口 (asynchronously)
   *
   * @param accountId (required)
   * @param materialDeriveId (required)
   * @param autoDerivedProgramCreativeSwitch (optional)
   * @param standardSwitch (optional)
   * @param updateMaterialGroups (optional)
   * @param fields 返回参数的字段列表 (optional)
   * @param callback The callback to be executed when the API call finishes
   * @return The request call
   * @throws ApiException If fail to process the API call, e.g. serializing the request body object
   */
  public com.squareup.okhttp.Call programmedUpdateAsync(
      Long accountId,
      Long materialDeriveId,
      Boolean autoDerivedProgramCreativeSwitch,
      Boolean standardSwitch,
      List<MaterialGroupUpdateStruct> updateMaterialGroups,
      List<String> fields,
      final ApiCallback<ProgrammedUpdateResponse> callback,
      String... headerPair)
      throws ApiException {

    ProgressResponseBody.ProgressListener progressListener = null;
    ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

    if (callback != null) {
      progressListener =
          new ProgressResponseBody.ProgressListener() {
            @Override
            public void update(long bytesRead, long contentLength, boolean done) {
              callback.onDownloadProgress(bytesRead, contentLength, done);
            }
          };

      progressRequestListener =
          new ProgressRequestBody.ProgressRequestListener() {
            @Override
            public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
              callback.onUploadProgress(bytesWritten, contentLength, done);
            }
          };
    }

    com.squareup.okhttp.Call call =
        programmedUpdateValidateBeforeCall(
            accountId,
            materialDeriveId,
            autoDerivedProgramCreativeSwitch,
            standardSwitch,
            updateMaterialGroups,
            fields,
            progressListener,
            progressRequestListener,
            headerPair);
    Type localVarReturnType = new TypeToken<ProgrammedUpdateResponse>() {}.getType();
    apiClient.executeAsync(call, localVarReturnType, callback);
    return call;
  }
}
